.Share {
    border: 1px solid #d3dbeb;
    border-radius: 5px;
    position: relative;
    top: 20px;
    bottom: 20px;
    padding: 50px 10px 50px 10px;
    width: var(--Share-width, 1826px);
    height: var(--Share-height, 20px);
    text-align: left;
    margin: 0 auto;
}

/* 创建阴影 */
#app {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
}

.button {
    background-color: #37f;
    color: white;
    text-align: right;
    margin-left: 10px;
    border-radius: 3px;
    outline: none;
    font-size: var(--text-size, 16px);
    width: var(--button-width, 48px);
    height: var(--button-height, 28px);
}

.text {
    padding-left: 10px;
    font-size: var(--text-size, 16px);
}

.select {
    /* padding-left: 5px; */
    border: 1px solid rgb(109, 107, 107);
    width: var(--input-width, 165px);
    height: var(--select-height, 22px);
    padding: 1px 2px;
    border-radius: 3px;
    outline: none;
    position: relative;
    bottom: 0px;
    font-size: var(--text-size, 16px);
}

.chax {
    margin-left: 85px;
}

.input {
    border: 1px solid rgb(109, 107, 107);
    border-radius: 3px;
    outline: none;
    width: var(--input-width, 165px);
    height: var(--input-height, 18px);
}

:root {
    --Share-width: 1826px;
    --Share-height: 20px;
    --input-width: 165px;
    --input-height: 18px;
    --select-height: 22px;
    --text-size: 16px;
    --button-width: 48px;
    --button-height: 28px;
}

/* 设置缩放效果 */
@media (max-width: 1800px) {
    :root {
        --Share-width: 1650px;
        --Share-height: 20px;
        --input-width: 160px;
        --input-height: 15px;
        --select-height: 20px;
        --text-size: 12px;
        --button-width: 40px;
        --button-height: 23px;
    }
}
