<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.analysis.dao.mapper.AvgDtoMapper">

    <select id="getAvgListByAvg" resultType="com.analysis.dao.entity.AvgDto">
        select
        sen_id as senId,
        t_time as tTime,
        v_data as vData,
        s_data as sData,
        strategy_code as strategyCode,
        del,
        create_time
        from handle_data
        <where>
            del = 0
            <if test="senId != null and senId != ''">
                and sen_id = #{senId}
            </if>
            <if test="tTime != null and tTime != ''">
                and t_time = #{tTime}
            </if>
            <if test="vData != null and vData != ''">
                and v_data = #{vData}
            </if>
            <if test="sData != null and sData != ''">
                and s_data = #{sData}
            </if>
            <if test="strategyCode != null and strategyCode != ''">
                and strategy_code = #{strategyCode}
            </if>
            <if test="startTime != null and endTime != null">
                AND (DATE_FORMAT( t_time, '%Y-%m-%d') BETWEEN DATE_FORMAT( #{startTime}, '%Y-%m-%d') and DATE_FORMAT( #{endTime}, '%Y-%m-%d'))
            </if>
        </where>
        order by t_time
    </select>
</mapper>